
            img {
              max-width: 100%;
            }
            img.fr-fin{
              margin: auto;
              padding: 10px 0;
              display: block;
            }
            img.fr-dib {
              margin: auto;
              display: block;
              float: none;
              vertical-align: top;
              margin-top: 5px;
              margin-bottom: 5px;
            }
            img.fr-dib.fr-fil {
              margin: 5px auto 5px 0;
              left: 5px;
            }
            img.fr-fir{
              float:right;
              margin: 10px 3px 10px 10px;
            }
            img.fr-dib.fr-fir {
              margin: 5px 0 5px auto;
              right: 5px;
            }
            img.fr-dii {
              margin: auto;
              display: inline-block;
              float: none;
              margin-top: 5px;
              margin-bottom: 5px;
            }
            img.fr-dii.fr-fil {
              margin: 5px 10px 5px 0;
              left: 5px;
              float: left;
            }
            img.fr-dii.fr-fir {
              margin: 5px 0 5px 10px;
              right: 5px;
              float: right;
            }


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('barnen.mp4') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    background: rgba(39,62,84,0.82);

}
            
    /* Base structure */
    body{
      background-color: #000000;
    }
    /* General Styles */
        body {
            color: #ffffff;
            font-family: 'Montserrat' , Arial, sans-serif; font-weight: normal;;
        }
      
        .masthead-brand h1, .masthead-brand h2, .masthead-brand h3, .masthead-brand h4, .masthead-brand h5, .masthead-brand h6, .masthead-brand p {
          font-family: 'Montserrat' , Helvetica, Arial, sans-serif; font-weight: normal;
        }

        h1 {
            font-family: 'Brandon Grotesque' , Helvetica, Arial, sans-serif;;
            font-size: 54px;
            line-height: 59px;
            letter-spacing: -1px;
            margin-bottom: 300px;
        }

        @media (max-width: 520px;) {

            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            }


        }
        a {
            color: #000000;
        }
        a:hover {
            color: #000000;
        }
        .fa-inverse {
            color: #FFFFFF;
        }
        /* Section Styles */
        #header {
            padding-top: 2em;
            padding-bottom: 5px;
        }
        #main-content {
            padding-top: 7em;
            padding-bottom: 5em;
        }
        .panel {
            background-color:           /* Fallback for older browsers */
          background: #f7f7f7;
          background: rgba(247, 247, 247,0.6 ) ;   
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60.0)";  
;
            border: 1px solid           /* Fallback for older browsers */
          background: #f7f7f7;
          background: rgba(247, 247, 247,0.6 ) ;   
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60.0)";  
;
            color: #444444;
        }
        .alert {
            padding: 10px;
            margin-bottom: 0px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .cover {
            padding:0 20px;
        }
        #bg-overlay {
            
                background-color:           /* Fallback for older browsers */
          background: #000000;
          background: rgba(0, 0, 0,0.6 ) ;   
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60.0)";  
;
            
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            position: fixed;
        }
        .modal-content {
            background-color: #f7f7f7;
        }
        .modal-header {
            border-bottom: 1px solid #f7f7f7;
        }
        .modal-body {
            padding-top: 0px;
            color: #444444;
        }
        .modal-footer {
            border-top: 1px solid #f7f7f7;
        }
        .modal-dialog-center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .modal-footer {
            margin-top: 0;
        }
        #footer {
            padding-top: 5em;
            padding-bottom: 2em;
        }
        .btn-kol {
            color: #FFFFFF;
            background-color:#ff474e;
            border-color:#ff474e;
            
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .btn-kol.active,.btn-kol.focus,.btn-kol:active,.btn-kol:focus,.btn-kol:hover,.open>.dropdown-toggle.btn-kol {
            color: #FFFFFF;
            background-color:#cc141b;
            border-color:#cc141b;
            
        }
        .btn-kol.active,.btn-kol:active,.open>.dropdown-toggle.btn-kol {
            background-image:none
        }
        .btn-kol.disabled,.btn-kol.disabled.active,.btn-kol.disabled.focus,.btn-kol.disabled:active,.btn-kol.disabled:focus,.btn-kol.disabled:hover,.btn-kol[disabled],.btn-kol[disabled].active,.btn-kol[disabled].focus,.btn-kol[disabled]:active,.btn-kol[disabled]:focus,.btn-kol[disabled]:hover,fieldset[disabled] .btn-kol,fieldset[disabled] .btn-kol.active,fieldset[disabled] .btn-kol.focus,fieldset[disabled] .btn-kol:active,fieldset[disabled] .btn-kol:focus,fieldset[disabled] .btn-kol:hover {
            background-color:#ff474e;
            border-color:#ff474e;
        }
        
        .btn-xl {
            padding: 16px 22px;
            font-size: 24px;
        }
        /* Social Share Styles */
        .btn-social {
            color: #FFFFFF;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .btn-social.active,.btn-social.focus,.btn-social:active,.btn-social:focus,.btn-social:hover,.open>.dropdown-toggle.btn-social {
            color: #FFFFFF;
        }
        .btn-facebook  {
            background-color: #3b5998;
            border-color: #3b5998;
        }
        .btn-facebook.active,.btn-facebook.focus,.btn-facebook:active,.btn-facebook:focus,.btn-facebook:hover{
            background-color: #082665;
            border-color: #082665;
        }
        .btn-twitter{
            background-color: #00aced;
            border-color: #00aced;
        }
        .btn-twitter.active,.btn-twitter.focus,.btn-twitter:active,.btn-twitter:focus,.btn-twitter:hover{
            background-color: #0079ba;
            border-color: #0079ba;
        }
        .btn-pinterest {
            background-color: #cb2027;
            border-color: #cb2027;
        }
        .btn-pinterest.active,.btn-pinterest.focus,.btn-pinterest:active,.btn-pinterest:focus,.btn-pinterest:hover{
            background-color: #980000;
            border-color: #980000;
        }
        .btn-gplus {
            background-color:#dd4b39;
            border-color: #dd4b39;
        }
        .btn-gplus.active,.btn-gplus.focus,.btn-gplus:active,.btn-gplus:focus,.btn-gplus:hover{
            background-color: #aa1806;
            border-color: #aa1806;
        }
        .btn-linkedin {
            background-color:#007bb6;
            border-color: #007bb6;
        }
        .btn-linkedin.active,.btn-linkedin.focus,.btn-linkedin:active,.btn-linkedin:focus,.btn-linkedin:hover{
            background-color: #004883;
            border-color: #004883;
        }
        .btn-email {
            background-color: #3f3f3f;
            border-color: #3f3f3f;
        }
        .btn-email.active,.btn-email.focus,.btn-email:active,.btn-email:focus,.btn-email:hover{
            background-color: #0c0c0c;
            border-color: #0c0c0c;
        }
        .list-inline>li {
            min-width: 15%;
        }
        .footer-list>li {
            min-width: 10%;
        }
        
        .input-lg {
            border-radius: 0px !important;
        }
        
        /* Helper Styles */
        .spacer-sm {
            margin-top: 1em;
        }
        .spacer-md {
            margin-top: 3em;
        }
        .spacer-lg {
            margin-top: 5em;
        }
        .col-centered{
            float: none;
            margin: 0 auto;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
        }
        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {
            /* Section Styles */
            .section {
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            /* Section Styles */
            .section {
                padding-top: .75em;
                padding-bottom: .75em;
            }
            .modal-dialog-center {
                width: 100%;
            }
            
            .btn {
                width:100% !important;
                display: block !important;
            }
            
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            /* Section Styles */
            .section {
                padding-top: .5em;
                padding-bottom: .5em;
            }
            .list-inline>li {
                padding-right: 0px;
                padding-left: 0px;
            }
            .btn-hg {
                font-size: 24px;
            }
        }
        /* Custom, iPhone Retina */
        @media only screen and (max-width : 320px) {
        }

        /* Video Modal*/
        .play-video {
            font-size: 3em;
            cursor: pointer;
        }

        #video_modal {
            top: 20%;
        }



.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('img/food.mp4') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    background: rgba(39,62,84,0.82);

}


.video-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.8;
}
        /* Response Section */
        #subscribe {
            margin-bottom: 10px !important;
        }
        
        /* Prevent overflowing images */
        img {
          max-width: 100% !important;
        }

        /* Contact Section */
#contact-section {
    padding: 50px 0 80px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f6f6f6+100 */
    background: ; /* Old browsers */
    background: -moz-linear-gradient(top,  50%,  100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  50%,  100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  50%,  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
}
#contact-section h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
#contact-section form {
    padding: 30px 0;
}
#contact-section i.fa {
    color: #ccc;
    margin-right: 20px;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
#contact-section .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 2px solid #ddd;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact-section .form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
#contact-section .btn {
    background: #fbfbfb;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 0;
    color: #aaa;
    font-size: 15px;
}
#contact-section .btn:hover, #contact-section .btn:focus {
    background: #f59898;
    border: 2px solid #f59898;
    color: #fff;
}
#contact-section .text-danger {
    color: #cc3300;
    text-align: left;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: none;
}

    
          