*{
	text-align: center;
}

body {
	background-color: #ff4400;
}

h2 {
	font-family: Helvetica;
	color: #FFFFFF;
	font-size: 80px;
	padding-bottom: 30px;
}

h1 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 120px;
font-weight: bold;
}