html {
color: rgba(0,0,0, 0.87);
  font-size: 1em;
  line-height: 1.4; }

*{
	text-align: center;}

body {
	background-color: #ff4400;}

h2 {
	font-family: Helvetica;
	color: #FFFFFF;
	font-size: 80px;
	padding-bottom: 80px;}

h1 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 120px;
font-weight: bold;
padding-top: 80px;}