.nav li {
  display: inline;
body {
background-color: #ff4400;}

h2 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 80px;
padding-bottom: 80px;}

h1 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 120px;
font-weight: bold;
padding-top: 80px;}


.jumbotron {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Painted_Indian_Glassy_Fish.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}